@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 200%; /* 20px */
}

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333333;
  background-color: #131111;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

[class*=__container] {
  max-width: 131.9rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.title {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 4.8rem;
  color: #333333;
  line-height: 52px;
  font-weight: 700;
}

.btn {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  font-family: Raleway;
  background: #FFFFFF;
  border-radius: 100%;
  padding: 65px 37px;
}

.header {
  z-index: 50;
}
.header__navbar {
  display: flex;
  align-items: center;
  min-height: 8rem;
}
.header__menu {
  display: flex;
  margin: 0 auto;
  gap: 2.4rem;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 1.9rem;
  padding-right: 2.6rem;
}

.menu__item {
  white-space: nowrap;
}

.menu__link {
  color: #7D7D7D;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
}

.menu__link:hover {
  transition: all 0.5s ease 0s;
  font-weight: 500;
  line-height: 20px;
  color: #BCBCBC;
}

.lang-switch {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
  padding-left: 4rem;
  color: #7D7D7D;
}

.lang-switch-ru:hover {
  transition: all 0.5s ease 0s;
  font-weight: 500;
  line-height: 20px;
  color: #BCBCBC;
}

.lang-switch-en:hover {
  transition: all 0.5s ease 0s;
  font-weight: 500;
  line-height: 20px;
  color: #BCBCBC;
}

.lang-switch-ru {
  padding-right: 0.6rem;
  color: #7D7D7D;
}

.lang-switch-en {
  padding-left: 0.6rem;
  color: #7D7D7D;
}

.main {
  flex: 1 1 auto;
}

.home__container {
  padding: 4rem 5rem 13rem;
}

.home__bg-charge {
  padding-bottom: 2.2rem;
}

.bg-orange {
  position: absolute;
  width: 674px;
  height: 634px;
  left: 291px;
  top: 181px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  filter: blur(64px);
}

.bg-blue {
  position: absolute;
  width: 878px;
  height: 645px;
  left: 857px;
  top: 108px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  filter: blur(64px);
}

.home-slide {
  opacity: 0.5;
  background: url("../images/bg-slider.png");
  background-size: 100%;
  height: 60.1rem;
  display: flex;
  justify-content: flex-end;
  padding: 4.8rem 10.7rem 0 0;
}

.home-swiper {
  overflow: visible;
  width: 992px;
  margin: 0 auto;
}

.home-swiper-button-next {
  top: 56%;
  right: 18%;
  border: 1px solid rgba(125, 125, 125, 0.8);
  border-radius: 0px 30px 30px 0px;
  padding: 3rem 4rem;
}

.home-swiper-button-prev {
  top: 56%;
  left: 18%;
  border: 1px solid rgba(125, 125, 125, 0.8);
  border-radius: 30px 0px 0 30px;
  padding: 3rem 4rem;
}

.home-swiper-button-prev::after, .home-swiper-button-next::after {
  font-size: 14px;
  color: #BCBCBC;
}

.swiper-slide-active {
  transition: 0.5s;
  opacity: 1;
}

.home-slide__top-content {
  position: absolute;
  top: -20px;
  right: -80px;
  transform: rotate(15deg);
}

.home-slide__info {
  color: #f5f5f5;
}
.home-slide__human-name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 1rem;
}
.home-slide__human-bio {
  line-height: 22px;
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 3.2rem;
}
.home-slide__btn {
  position: relative;
}

.circle {
  background: url("../images/circle.svg");
  width: 125px;
  height: 125px;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.play-circle {
  position: absolute;
  top: 40.5%;
  right: 22.7%;
}

.stop-circle {
  animation: 5s linear 0s normal none infinite running circle;
  -webkit-animation: 5s linear 0s normal none infinite running circle;
}

.products {
  background: #f5f5f5;
}
.products__container {
  padding: 10.3rem 0 9.2rem 0;
}
.products__title {
  padding-bottom: 4.3rem;
}

.swiper-card-buttons {
  position: absolute;
  right: 420px;
  bottom: -150px;
}

.swiper-card-button-prev::after, .swiper-card-button-next::after {
  font-size: 14px;
  color: #BCBCBC;
}

.swiper-card-button-prev {
  border: 1px solid rgba(125, 125, 125, 0.8);
  border-radius: 30px 0px 0 30px;
  padding: 3rem 4rem;
  left: -82px;
}

.swiper-card-button-next {
  border: 1px solid rgba(125, 125, 125, 0.8);
  border-radius: 0px 30px 30px 0px;
  padding: 3rem 4rem;
  right: -80px;
}

.swiper-card {
  overflow: hidden;
  width: 130.8rem;
}

.name-card {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 24px;
  padding-bottom: 0.8rem;
}

.price-card {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
}

.btns-card {
  padding-top: 2.4rem;
  display: flex;
}

.stats-card {
  padding: 12px 19px;
  border: 1px solid #BCBCBC;
  border-radius: 25px 0 0 25px;
  margin-right: 10px;
}

.more-btn {
  color: #333333;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 15px 94px 15px 24px;
  border: 1px solid #333333;
  border-radius: 0 25px 25px 0;
}

.blue-stripe {
  background-color: #0178F3;
  width: 2500px;
  transform: rotate(5.09deg);
  -webkit-animation: blueStripe 5s linear infinite;
  animation: blueStripe 5s linear infinite;
}
.blue-stripe__list {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blue-stripe__item {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #f5f5f5;
}

.white-stripe {
  transform: rotate(-2.51deg);
  background: #f5f5f5;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.white-stripe__list {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.white-stripe__item {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #333333;
}

.test__title {
  padding-top: 10rem;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 52px;
  text-align: center;
}
.test__subtitle {
  color: #D8D8D8;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 24px;
  padding-top: 2.4rem;
  text-align: center;
}
.test__content {
  position: relative;
}
.test__bg-charge {
  position: absolute;
  transform: translateY(200%);
  z-index: -100;
}
.test__player {
  z-index: 100;
  padding-top: 55px;
}
.test__btn {
  position: absolute;
  bottom: 260px;
  right: 220px;
  padding: 65px 30px;
}

.test-bg-orange {
  position: absolute;
  width: 674px;
  height: 634px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  filter: blur(114px);
  z-index: -100;
}

.test-bg-blue {
  position: absolute;
  right: 135px;
  width: 674px;
  height: 634px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  filter: blur(136px);
  z-index: -100;
}

.brand {
  background-color: #f5f5f5;
  margin-left: 190px;
  margin-top: -76px;
  border-radius: 100px 0 0 100px;
  padding: 0 5rem;
}
.brand__container {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.brand__right-content {
  padding-top: 10.2rem;
}

.left-content__text {
  padding: 3.4rem 0 4rem;
}
.left-content__block-btn {
  width: 150px;
  height: 150px;
  border: 1px solid #F64F00;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-content__btn {
  color: #F64F00;
  padding: 55px 25px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 20px;
}

.right-content__tab-list {
  display: grid;
  gap: 5.4rem;
}

.tab-list__item_text {
  padding: 3rem 0 4rem;
}
.tab-list__item_title {
  color: #333333;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
}
.discount__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13rem;
}
.discount__left-content {
  padding-top: 11.7rem;
}
.discount__left-content_subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 24px;
  color: #BCBCBC;
  padding: 4rem 0 3.2rem;
}
.discount__left-content_input {
  background-color: #131111;
  width: 44.5rem;
  border-bottom: 1px solid #7D7D7D;
  padding-bottom: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
}
.discount__left-content_input::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
}
.discount__left-content_input:active {
  text-decoration: none;
  border: none;
}
.discount__left-content input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.discount__left-content input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.discount__left-content input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.discount__left-content input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.discount__left-content input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.discount__left-content input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.discount__left-content input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.discount__left-content input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.discount__left-content_block-btn {
  padding: 10.6rem 0 1rem;
}
.discount__left-content_btn {
  padding: 65px 24px;
}
.discount__title {
  font-weight: 700;
  font-size: 9rem;
  line-height: 104px;
}
.discount__right-content {
  position: relative;
}
.discount__right-content_block-img {
  position: absolute;
  right: -350px;
  top: 120px;
}

.shadow__title {
  color: #131111;
  text-shadow: 0px 0px 2px #fff;
}
.shadow__title span {
  color: #fff;
}
.shadow__title img {
  vertical-align: middle;
  padding-right: 20px;
}

.bg-shadow-blue {
  position: relative;
  left: -780px;
  width: 105px;
  height: 105px;
  background: radial-gradient(80% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  filter: blur(64px);
}

.bg-shadow-orange {
  left: -1150px;
  top: 220px;
  position: relative;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  filter: blur(64px);
}

.footer {
  padding: 0 5rem;
  flex: 0 0 auto;
  background: #F5F5F5;
}
.footer__container {
  padding: 10.6rem 0 10rem;
}
.footer__communicate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  padding-right: 5rem;
}

.communicate__block-btn {
  width: 150px;
  height: 150px;
  border: 1px solid #F64F00;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.communicate__btn {
  color: #F64F00;
  padding: 55px 40px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
}

.tg {
  padding-right: 1.6rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 43.74% 57.26%;
}
.footer__right-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 5.6rem 8rem;
}

.title-footer-block {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
}

.block-footer-item {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  padding-bottom: 1.6rem;
  white-space: nowrap;
}

.block-footer-item:first-child {
  padding-top: 2.4rem;
}

.block-footer-link {
  color: #333333;
}

.footer__left-content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: #7D7D7D;
}
.footer__left-content span {
  color: #333333;
  font-weight: 500;
}

.name-company {
  padding-bottom: 1.6rem;
}

.address-company {
  padding-bottom: 1.6rem;
}

.com-company {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 1.6rem 4.8rem;
}

.com-company a {
  color: #333333;
  font-weight: 500;
}

.email {
  white-space: nowrap;
}

.copyright {
  padding: 6.8rem 0 0.8rem;
}

.privacy {
  color: #7D7D7D;
  text-decoration: underline;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
}

.developed-by {
  position: absolute;
  right: 10px;
  bottom: 30px;
}

/* Desktop */
@media all and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
@media all and (max-width: 1600px) {
  html {
    font-size: 62.0833333333%;
  }
}
/* Laptop L   1440px */
@media all and (max-width: 1440px) {
  html {
    font-size: 58.875%;
  }
}
/*            1200px */
@media all and (max-width: 1200px) {
  html {
    font-size: 56.0625%;
  }
}
/* Laptop *   1024px */
@media all and (max-width: 1024px) {
  html {
    font-size: 50.3333333%;
  }
}
/* Tablet *   768px */
@media all and (max-width: 768px) {
  html {
    font-size: 46%;
  }
}
/*            575px */
@media all and (max-width: 575px) {
  html {
    font-size: 40.7174479%;
  }
}
/* Mobile L   425px */
@media all and (max-width: 425px) {
  html {
    font-size: 36.7174479%;
  }
}
/* Mobile M   375px */
@media all and (max-width: 375px) {
  html {
    font-size: 30.7174479%;
  }
}
/* Mobile S   320px */ /* width/1920 * 62.5  for adaptive */
@media all and (max-width: 320px) {
  html {
    font-size: 25, 41666666666667%;
  }
}